# exclude all
/*

# include sourcecode
!src/
!libs/
!doc/
!license/

# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# include markdowns
!LICENSE
!README.txt
!README.md
!version.json
!updatelog.txt

# include git important files
!.gitmodules
!.gitignore