# --- Minecraft ---
# -- Item --
public net.minecraft.item.ItemAxe <init>(Lnet/minecraft/item/Item$ToolMaterial;)V
public net.minecraft.item.ItemPickaxe <init>(Lnet/minecraft/item/Item$ToolMaterial;)V
public net.minecraft.item.ItemSpade <init>(Lnet/minecraft/item/Item$ToolMaterial;)V
public net.minecraft.item.ItemHoe <init>(Lnet/minecraft/item/Item$ToolMaterial;)V
# -- GuiScreen --
public net.minecraft.client.gui.GuiScreen func_146279_a(Ljava/lang/String;II)V # drawCreativeTabHoveringText(String, int, int)
public net.minecraft.client.gui.GuiScreen func_146283_a(Ljava/util/List;II)V # drawHoveringText(List, int, int)
# -- Stats --
public net.minecraft.client.gui.achievement.GuiStats field_146546_t # statFileWriter
public net.minecraft.client.gui.achievement.GuiStats field_146545_u # displaySlot
public net.minecraft.client.gui.achievement.GuiStats func_146521_a(IILnet/minecraft/item/Item;)V # void drawStatsScreen(int, int, Item)
public net.minecraft.client.gui.achievement.GuiStats func_146531_b(II)V # void drawButtonBackground(int, int)
public net.minecraft.client.gui.achievement.GuiStats func_146527_c(IIII)V # void drawSprite(int, int, int, int)
# --- Forge ---
# public net.minecraftforge.client.model.ModelLoader storeException(Lnet/minecraft/util/ResourceLocation;Ljava/lang/Exception;)V # void storeException(ResourceLocation, Exception)
